.productHeading{
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.rightDiv{
    width: 100%;
    position: relative;
    margin: 0px auto;
}

.ui.cards>.card {
    box-shadow: 0px 0px 30px 2px grey;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    box-shadow: none;
    padding: 0;
}

.ui.image img {
    width: 300px !important;
    height: 300px !important;
}