.search-div{
    width: 100%;
    margin: 60px auto;
    position: relative;
    float: left;
    clear: both;
    text-align: center;
    line-height: 30px;
}

.search_heading{
    width: 100%;
    margin: 15px auto;
    text-align: left;
    color: gray;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-left: 25px;
  
}
.search_heading h3 {
    font-size: 18px;
    letter-spacing: 1.5px;
}
.search_box {
   width: 65%;
    margin: 15px auto;
    position: relative;
}
.search_box input {
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 23px;
    border: 0;
    padding: 20px 20px;
    outline: 0;
    box-shadow: 0px 5px 27px 0 grey;
}

.search_box i {
    position: absolute;
    top: 57px;
    bottom: 0;
    right: 25px;
    font-size: 20px;
    color: #32b8a4;
}

a {
    background-color: none;
}