.tipsBannnerOne{
    background-color: #d6eaf8 ;
    height: 600px;
    margin-right: 5px;
    
}

.tipsBannnerTwo{
    background-color:  #fef9e7 ;
    height: 600px;
    margin-right: 5px;
}

.tipsBannnerThree{
    background-color:  #fdedec ;
    height: 600px;
    margin-right: 5px;
}

.tipsBannnerFour{
    background-color:  #eaf2f8 ;
    height: 600px;
    margin-right: 5px;
}

.tipsBannnerFive{
    background-color: #f4ecf7;
    height: 600px;
   
}

.card-center{
    margin-left: 15% !important;
    margin-bottom: 10%;
}

.center-block {
    width: 940px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }




