.ui.card {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px !important;
    min-height: 0;
    background: #fff;
    padding: 0;
    box-shadow: 0px 0 18px 0px rgba(0,0,0,0.2);
    margin-left: 17%;
    margin-top: 123px !important
}

.ui.card > .image {

    position: relative;
    display: block;
    flex: 0 0 auto;
    padding: 0;
    background: rgba(0,0,0,.05);
    height: 250px !important; 
}

.slick-prev::before,{

    font-family: 'slick';
    font-size: 18px;
    line-height: 1;
    opacity: .75;
    color: #5dade2;
    margin: 50px !important
}